body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  overflow: hidden auto;

  display:flex;
  flex-direction: column;
}

.navbar-button {
  cursor: pointer;
  border-style: none;
  padding: 4px 12px;
  margin: 8px;
}

.page {
  padding: 8px;
  flex-grow: 1;
}

.card-bg, .page-404 {
  padding: 0;
  background-color: #f8f8f8;
  align-items: center;
}

.card {
  padding: 8px 8px;
  border-radius: 8px;
  display: block;
  background-color: white;
  height: max-content;
  text-align: center;

  border-style: solid;
  border-width: 2px;
  border-color: #ccc;
}

.card.float {
  position: relative;
  top: 10%;
  margin: auto;
  width: 80%;

  border-style: none;
  box-shadow: 
  0px 4px 8px #ccc,
  0px 2px 4px 2px #ddd;
}

.header {
  background-color: #666;
}
.header-title {
  display: block;
  cursor: pointer;
  padding: 8px 16px 4px;
  color: white;
  font-size: 1.5rem;
}

.footer {
  color: white;
  padding: 12px 0px 16px;
  background-color: #666;
  display: flex;
  justify-content: center;
  flex-direction: row;
  font-size: 0.7rem;
}
.footer label {
  font-size: 0.9rem;
}
.footer a {
  color: #adf;
}
.footer a:visited {
  color: #daf;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
